/*
Theme Name: Jupiter
Theme URI: http://themeforest.net/user/artbees
Author: Artbees
Author URI: http://themeforest.net/user/artbees
Version: 4.0.6
Description: A Beautiful, Professional and Ultimate Wordpress Theme Made by Artbees. Jupiter is a Clean, Flexible, fully responsive and retina ready Wordpress theme. Its smart and hand crafted environment allows you to Build outstanding websites easy and fast.
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/*

Main Stylesheet file is located at stylesheet/css/styles.css

*/
.loop {
    float: left;
    width: 16%;
	margin-bottom: 20px;
	margin-right: 2%;
}

div#course_schedule {
    float: left;
    width: 100%;
}
.loop input#schedule {
    float: left;
    margin-top: 7px;
    margin-right: 10px;
}
div#course_venues {
    width: 100%;
    float: left;
}

div#group-part {
    width: 100%;
    float: left;
}
.paypal{
	text-align:center;
	font-size:16px;
	font-weight:bold;
	margin-bottom:50px;
	width: 450px;
	margin: auto;	
}
.paypal b {
    float: left;
}
.paypal_icon{
	text-align:center;
	background-image:url(images/icon_animated_prog_42wx42h.gif) ;
	background-repeat:no-repeat;
	background-position: right;
}
.thank{
	text-align:center;
	
}
.thank p{
	text-align:center;
font-size: 14px;
color: #666666;
line-height: 1.66em;
	
}
.thank p strong{
	text-align:center;
font-size: 14px;
color: #666666;
line-height: 1.66em;	
color: #00c8d7;
width:80%;
}
.level_width{
	width:250px;
}